.gallery-page{
    header{
        height: 40vh;
        background-image: none;
        background-color: $grayBackgroundColor;
        nav{
            background-color: #fff;
            .container{
                .menu-list{
                    ul{
                        .list-item{
                            .list-link{
                                color: #595959;
                                opacity: 0.7;;
                            }
                            &:hover{
                                .list-link{
                                    color: #333;
                                    opacity: 1;
                                }
                            }
                            &.active{
                                .list-link{
                                    color: #ae9768;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gallery-intro{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            height: 100%;
            width: 100%;
            z-index: 11;
            h1{
                font-size: 36px;
                line-height: 1.86;
                color: $blackColor;
            }
            p{
                font-size: 18px;
                line-height: 1.86;
                margin-bottom: 43px;
                color: #686868;
            }
        }
    }
}