.about-section{
    padding: 90px 0 60px;
    .container{
        .about-image{
            margin-right: 31px;
        }
        .about-description{
            padding: 56px 15px 0 15px;
            h2{
                color: $blackColor;
                font-size: 32px;
                margin-bottom: 25px;
            }
            p{
                color: $grayColor;
                font-size: 17px;
                line-height: 1.86;
                margin-bottom: 25px;
            }
            .description-icons{
                .icons-item{
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    margin-bottom: 2px;
                    .icon{
                        color: $brownColor;
                        font-size: 20px;
                        margin-right: 10px;
                        padding: 13px;
                        border-radius: 50%;
                        border: 1px solid #DFDFDF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.25s ease-in-out;
                    }
                    .info{
                        color: $grayColor;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .about-section{
        .container{
            .about-description{
                padding-top: 0;
            }
        }
    }
}

@media screen and (max-width: 768px){
   .about-section{
       .container{
           .about-image{
               margin-right: 0;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
           }
       }
   }
}

@media screen and (max-width: 481px){
    .about-section{
        .container{
            .about-image{
                margin-bottom: 60px;
            }
        }
    }
}