.baking-section{
    padding: 80px 0 50px;
    .container{
        .section-title{
            text-align: center;
            margin-bottom: 60px;
            h2{
                color: $blackColor;
                font-size: 30px;
                margin-bottom: 17px;
            }
            p{
                font-size: 17px;
                color: #888;
            }
        }
        .baking-item{
            text-align: center;
            margin-right: 10px;
            
            img{
                margin-bottom: 30px;
            }
            h4{
                color: #303030;
                margin-bottom: 15px;
                font-size: 22px;
            }
            p{
                padding: 0 15px;
                color: $grayColor;
                font-size: 17px;
                line-height: 1.86;
            }
        }
    }
}