header{
    height: 110vh;
    background-image: url('../images/asset 2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .intro{
        position: relative;
        z-index: 11;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 700px;
        .intro-welcome{
            color: #fff;
            font-size: 22px;
            margin-bottom: 5px;
        }
        .intro-header{
            font-size: 76px;
            color: #fff;
            margin-bottom: 18px;
            font-weight: 400;
        }
        .intro-description{
            color: rgba(255,255,255,0.92);
            font-size: 24px;
            text-align: center;
            line-height: 1.86;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 768px){
    header{
        background-size: cover;
        height: 100vh;
        .intro{
            width: 470px;
            .intro-header{
                font-size: 34px;
            }
            .intro-description{
                font-size: 16px;
            }
        }
    }
}




@media screen and (max-width: 426px){
    header{
        .intro{
            width: 300px;
        }
    }
}