.location-section{
    padding: 90px 0;
    background-color: $grayBackgroundColor;
    .container{
        .location-description{
            padding: 100px 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2{
                color: $blackColor;
                font-size: 32px;
                margin-bottom: 25px;
            }
            p{
                color: $grayColor;
                font-size: 17px;
                line-height: 1.86;
            }
        }
        .location-image{
            margin-left: 31px;
        }
    }
}

@media screen and (max-width: 1024px){
    .location-section{
        .container{
            .location-description{
                padding-top: 0;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .location-section{
        .container{
            .location-image{
                margin-left: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 481px){
    .location-section{
        .container{
            .location-description{
                margin-bottom: 30px;
            }
        }
    }
}