.location-section{
    padding: 90px 0;
    background-color: $grayBackgroundColor;
    .container{
        .location-description{
            padding: 100px 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2{
                color: $blackColor;
                font-size: 32px;
                margin-bottom: 25px;
            }
            p{
                color: $grayColor;
                font-size: 17px;
                line-height: 1.86;
            }
        }
        .location-image{
            margin-left: 31px;
        }
    }
}