.contact-page{
    header{
        height: 40vh;
        background-position: center;
        nav{
            background-color: #fff;
            .container{
                .main-menu{
                    .menu-list{
                        .list-item{
                            .list-link{
                                color: #595959;
                                opacity: 0.7;
                            }
                            &:hover{
                                .list-link{
                                    color: #333;
                                    opacity: 1;
                                }
                            }
                            &.active{
                                .list-link{
                                    color: #ae9768;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .contact-intro{
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            color: #fff;
            z-index: 11;
            h1{
                font-size: 56px;
                line-height: 1.86;
            }
            p{
                font-size: 15px;
                line-height: 1.86;
                margin-bottom: 43px;
                a{
                    color: #fff;
                    transition: all 0.25s ease-in-out;
                    &:hover{
                        color: $brownColor;
                    }
                }
            }
        }
        
    }
}