nav{
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 90px;
    transition: all 0.25s ease-in-out;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            flex: 0 0 14%;
        }
        .main-menu{
            display: flex;
            .menu-list{
                display: flex;
                align-items: center;
                .list-item{
                    height: 90px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 0 15px;
                    transition: all 0.25s ease-in-out;
                    .list-link{
                        color: #fff;
                        font-size: 18px;
                        transition: all 0.25s ease-in-out;
                    }
                    &:hover{
                        .list-link{
                            color: #e0c690;
                        }
                    }
                    &.active{
                        border-top: 3px solid $brownColor;
                        .list-link{
                            color: $brownColor;
                        }
                    }
                    &.scroll{
                        .list-link{
                            color: #595959;
                            opacity: 0.7;
                        }
                        &:hover{
                            .list-link{
                                color: #333;
                                opacity: 1;
                            }
                        }
                        &.active{
                            .list-link{
                                color: $brownColor;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            
        }
        .nav-toggler{
            display: none;
        }
    }
}


@media screen and (max-width: 768px) {
    nav{
        .container{
            .logo{
                flex: 0 0 25%;
            }
            .main-menu{
                .menu-list{
                    flex-direction: column;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    align-items: flex-start;
                    background-color: #fff;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    display: none;
                    .list-item{
                        width: 100%;
                        height: 45px;
                        .list-link{
                            color: $blackColor;
                            padding: 10px 0;
                            border-bottom: 1px solid #f1f1f1;
                            width: 100%;
                        }
                        &:last-of-type{
                            .list-link{
                                border-bottom: none;
                            }
                        }
                        &.active{
                            border-top: none;
                            .list-link{
                                color: $brownColor;
                            }
                        }
                    }
                }
                
            }
            .nav-toggler{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                cursor: pointer;
                transition: all 0.25s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 481px){
    nav{
        .container{
            .logo{
                flex: 0 0 35%;
            }
        }
    }
}

@media screen and (max-width: 325px){
    nav{
        .container{
            .logo{
                flex: 0 0 55%;
            }
        }
    }
}