$blackColor: #303030;
$brownColor: #8e7754;
$grayColor: #686868;
$grayBackgroundColor: #f8f8f8;
$footerLinksColor: #969696;
$footerBackgroundColor: #403d38;
$copyrightColor: #777777;
$copyrightBackgroundColor: #353330;